* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/profile.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 span {
  color: #00bcd4;
}



.skills-interests-content {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 18px;
}
.skills-interests-content > div {
    flex: 1;
    min-width: 220px;
}


@media (max-width: 600px) {
    .skills-interests-content {
        flex-direction: column;
        gap: 18px;
    }
}

.btn {
  display: inline-block;
  background: #00bcd4;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #0097a7;
}

section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
}

#projects .project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 12px;
}
.contact-info a {
    color: #0366d6;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05rem;
}
.contact-info a:hover {
    text-decoration: underline wavy;
    color: #193499;
}



footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

